[phases.setup]
php = "8.1"

# Install Node untuk Laravel Mix / Vite
nodejs = "20"

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm install"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "php artisan serve --host 0.0.0.0 --port $PORT"
